body{
  max-width: 100em;
  max-height: 100em;
  overflow-x: hidden;
  overflow-y: scroll;
}

img{
  max-width: 100%;
}

p, h1, h2, h3, a{
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}

.a{
  color: black;
}

#landing-page{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./Assets/LandingPage.png");
  mix-blend-mode: luminosity;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

#register-page{
  position: absolute;
  width: 90em;
  height: 50em;
  background-color: #FFF2E2;
  background-image: url("./Assets/Man.png"), url("./Assets/Women.png");
  background-size: 40em 30em, 30em 30em;
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
  top: 10em;
  left: 0.1mm;
}

.check-box{
  display: inline;
}

.register-box{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
}
.icon-search{
  height: 12px;
}

#navbar-1{
  background-color: white !important;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 1em;
  left: 1em;
}

#navbar-2{
  position: absolute;
  left: 3.5em;
  top: 7em;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#drop-my-empty-a{
  position: absolute;
  width: 10em;
  left: 70em;
}

.box-register{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white !important;
  width: 45em;
  height: 35em;
  top: 6em;
  left: 20em;
  gap: 1em;
}

.form-gender{
  width: 31%;
}

.line-breaker{
  width: 100%;
}

.form-date{
  position: absolute;
  right: 13%;
  height: 150%;
  width: 139%
}

#date-label{
  position: absolute;
  left: 35%;
}

#bell-icon-a{
  position: absolute;
  top: 2em;
  left: 66em;
  width: 100%;
  height: 100vh;
}

#person-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 70em;
}

#cart-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 74em;
}

#input-search{
  left: 15em;
  width: 25em;
}

#input-search-icon{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 40%;
}

#navbar-two{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#logo-skingood{
  position: absolute;
  left: 2em;
  top: 2em;
}

#create-account-text{
  position: absolute;
  font-weight: bolder;
  left: 2em;
  top: 1em;
}

#free-easy-text{
  position: absolute;
  left: 2.5em;
  top: 3em;
}

#input-1{
  position: absolute;
  left: 2.5em;
  top: 8em;
}
#input-2{
  position: absolute;
  top: 13em;
  left: 2.5em;
}

#input-3{
  position: absolute;
  top: 18em;
  left: 2.5em;
}

#input-4{
  position: absolute;
  width: 50em;
  top: 23em;
  left: 2.5em;
}

#input-5{
  position: absolute;
  top: 27em;
  left: 2em;
  width: 30em;
}
#input-6{
  position: absolute;
  top: 31em;
  left: 3em;
}

#input-password{
  width: 14em;
}

#input-email{
  width: 29em;
}

#input-firstname{
  width: 14em;
}

.subscribe-component{
  background-color: #75CFB8;
  position: absolute;
  display: flex;
  width: 90em;
  height: 8em;
  flex-direction: row;
  top: 60em;
  left: 0.1mm;
  justify-content: center;
}

.subscribe-text{
  position: absolute;
  left: 5em;
  top: 0.65em;
  font-size: 34px;
  font-weight: 400;
}

.form-subscribe{
  position: absolute;
  background-color: white;
  top: 3.5em;
  width: 15em;
  height: 2em;
  border-radius: 13px 0px 0px 13px;
}

#button-subscribe{
  position: absolute;
  height: 2.2em !important;
  top: 4em;
  left: 60em;
  background: #FEBF6F;
  border-radius: 0px 12px 12px 0px;
}

#button-create-account{
  position: absolute;
  background-color: #75CFB8;
  border-radius: 12px;
  width: 13em;
  height: 3em !important; 
  overflow: hidden;
  left: 25em;
  top: 0.5em;
}

.information{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 68em;
  left: 0.1mm;
  height: 33em;
  width: 90em;
  background: #C9E5D3;
}

.information .sub-information{
  font-weight: 400;
  position: absolute;
  left: 5em;
  top: 9em;
}

.information-text{
  position: absolute;
  left: 4.3em;
  top: 3.5em;
}

.payment-logo{
  height: min-content;
  width: min-content;
}

.payment-images{
  position: absolute;
  width: max-content;
  height: 10em;
  top: 2em;
  left: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.logo-1, .logo-2, .logo-3, .logo-4{
  position: absolute;
  width: fit-content;
  height: fit-content;
  width: 15em;
  height: 15em;
  display: flex;
  flex-direction: row;
}

.logo-1{
  left: -0.9em;
  top: 1.5em;
  gap: 5em;
  justify-content: center;
  align-items: center;
}

.logo-2{
  top: 5em;
  left: -0.5em;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.logo-3{
  justify-content: center;
  align-items: center;
  left: -0.5em;
  top: 13em;
  gap: 2em;
}

.logo-4{
  left: 1em;
  top: 16em;
}

.payment-text{
  position: absolute;
  top: 3.5em;
  left: 26.5em;
}

.shipment-images{
  position: absolute;
  left: 51em;
  top: 6em;
  display: flex;
  flex-direction: column;
}

.shipment-text{
  position: absolute;
  left: 45em;
  top: 3.2em;
}

.shipment-1, .shipment-2, .shipment-3{
  position: absolute;
  width: max-content;
  height: min-content;
  display: flex;
}

.shipment-1{
  top: 1.5em;
  justify-content: center;
  align-items: center;
}

.shipment-2{
  top: 7em;
  justify-content: center;
  align-items: center;
}

.shipment-3{
  top: 9em;
  justify-content: center;
  align-items: center;
}

.customer-care-text{
  position: absolute;
  left: 63em;
  top: 3.2em;
}

.detail-customer-care-info{
  position: absolute;
  left: 74em;
  top: 9em;
}