img{
  max-width: 100%;
}

p, h1, h2, h3{
  font-family: 'Inter';
}

#landing-page{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./Assets/LandingPage.png");
  mix-blend-mode: luminosity;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

#register-page{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
}

.check-box{
  display: inline;
}

.register-box{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
}

.form-control-email{
  width: 209%;
}

.icon-search{
  height: 12px;
}

#navbar-1{
  background-color: white;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 1em;
  left: 1em;
}

#navbar-2{
  position: absolute;
  left: 3.5em;
  top: 7em;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#drop-my-empty-a{
  position: absolute;
  width: 10em;
  left: 70em;
}

.box-register{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30em;
  top: 12em;
  left: 28em;
  gap: 1em;
}

.form-gender{
  width: 31%;
}

.line-breaker{
  width: 100%;
}

.form-date{
  position: absolute;
  right: 13%;
  height: 150%;
  width: 139%
}

#date-label{
  position: absolute;
  left: 35%;
}

#bell-icon-a{
  position: absolute;
  top: 2em;
  left: 66em;
  width: 100%;
  height: 100vh;
}

#person-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 70em;
}

#cart-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 74em;
}

#input-search{
  left: 15em;
  width: 25em;
}

#input-search-icon{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 40%;
}

#navbar-two{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#logo-skingood{
  position: absolute;
  left: 2em;
  top: 2em;
}
/* 
.content-register-box{
  position: absolute;
  background-size: contain;
  background: green;
} */