img{
  max-width: 100%;
}

p, h1, h2, h3{
  font-family: 'Inter', sans-serif;
}

.a{
  color: black;
}
#landing-page{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./Assets/LandingPage.png");
  mix-blend-mode: luminosity;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

#register-page{
  position: absolute;
  width: 100%;
  height: 150%;
  background-color: #FFF2E2;
  /* background-color: green; */
  top: 10em;
}

.check-box{
  display: inline;
}

.register-box{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
}
.icon-search{
  height: 12px;
}

#navbar-1{
  background-color: white !important;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 1em;
  left: 1em;
}

#navbar-2{
  position: absolute;
  left: 3.5em;
  top: 7em;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#drop-my-empty-a{
  position: absolute;
  width: 10em;
  left: 70em;
}

.box-register{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white !important;
  width: 50em;
  height: 35em;
  top: 12em;
  left: 28em;
  gap: 1em;
}

.form-gender{
  width: 31%;
}

.line-breaker{
  width: 100%;
}

.form-date{
  position: absolute;
  right: 13%;
  height: 150%;
  width: 139%
}

#date-label{
  position: absolute;
  left: 35%;
}

#bell-icon-a{
  position: absolute;
  top: 2em;
  left: 66em;
  width: 100%;
  height: 100vh;
}

#person-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 70em;
}

#cart-icon-a{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 74em;
}

#input-search{
  left: 15em;
  width: 25em;
}

#input-search-icon{
  position: absolute;
  width: 100%;
  top: 2em;
  left: 40%;
}

#navbar-two{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#logo-skingood{
  position: absolute;
  left: 2em;
  top: 2em;
}

#create-account-text{
  position: absolute;
  left: 2em;
  top: 1em;
}

#free-easy-text{
  position: absolute;
  left: 2.5em;
  top: 3em;
}

#input-1{
  position: absolute;
  left: 2.5em;
  top: 8em;
}
#input-2{
  position: absolute;
  top: 13em;
  left: 2.5em;
}

#input-3{
  position: absolute;
  top: 18em;
  left: 2.5em;
}

#input-4{
  position: absolute;
  width: 50em;
  top: 23em;
  left: 2.5em;
}

#input-5{
  position: absolute;
  top: 27em;
  left: 2em;
}
#input-6{
  position: absolute;
  top: 30em;
  left: 3em;
}

#input-password{
  width: 14em;
}

#input-email{
  width: 29em;
}

#input-firstname{
  width: 14em;
}